body{
    font: 15px/1.5 Arial,Helvetica,sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}
/* Global => applied to all the div which have a container class */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
/* Coz of header have margin and padding by default, this is to remove it and appy to all globally*/
ul{
    margin: 0;
    padding: 0;
    }
    .button_1{
        height: 40px;
        background: #e8491d;
        border: 0;
        color: #ffffff;
        padding-left: 20px;
        padding-right: 20px;

    
    }
/* header part */
header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d solid 3px;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    list-style-type: none;

}
/* Move the branding part to left and the nav part to right to align correctely */

header #branding{
    float: left;
}
header h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}
header a:hover{
    color: #cccccc;
    font-weight: bold;
}
/* Showcase part */
#showcase {
    min-height: 400px;
    background: url("../img/shc.png") 0 -400px no-repeat;
    background-size: cover;
    text-align: center;
    color: #ffffff;
    
}
#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}
#showcase p{
    font-size: 20px;
}

/* Newsletter part */
#newsletter{
    padding: 15px;
    background: #35424a;
}
#newsletter h1{
    float: left;
    color: #ffffff;
}
#newsletter form{
    float: right;
    margin-top: 20px;
    margin-left: 10px;
}
#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

/* Boxes part */
#boxes{
    margin-top: 30px;
}
#boxes .box{
    float: left;
    width: 30%;
    text-align: center;
    padding: 10px;
}
#boxes .box img{
    width: 90px;
}
/* footer part */
footer{
    padding: 20px;
    margin-top: 20px;
    background-color: #e8491d;
    color: #ffffff;
    text-align: center;
}